Analyseur6R110_250/Serveur NodeRed Analyseur save .txt
[
    {
        "id": "fe3bdceb20630f52",
        "type": "tab",
        "label": "Accueil analyseur BUS CAN",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d4f3bcb1d0e64d1c",
        "type": "tab",
        "label": "Lecture totale CanV",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7c6a75cdf2b63e99",
        "type": "tab",
        "label": "Lecture par SA CanV",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6c5be482be44e101",
        "type": "tab",
        "label": "Lecture par PGN CanV",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "17a8185f6ac76f70",
        "type": "tab",
        "label": "Lecture totale CanE",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f429bb5c8d48201c",
        "type": "tab",
        "label": "Lecture par PGN CanE",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c27e22cb5f0d0b82",
        "type": "ui-base",
        "name": "AnalyseurBUSCAN",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "2ed396c127455324",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#3c7777",
            "primary": "#9a48ff",
            "bgPage": "#3a3a3a",
            "groupBg": "#7e7e7e",
            "groupOutline": "#dfdfdf"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "e2a44dbc7c93f4f0",
        "type": "ui-page",
        "name": "Accueil analyseur",
        "ui": "c27e22cb5f0d0b82",
        "path": "/analyseurBUSCAN",
        "icon": "tractor",
        "layout": "grid",
        "theme": "2ed396c127455324",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "af614d386833c470",
        "type": "mqtt-broker",
        "name": "Serveur MQTT Ludo",
        "broker": "192.168.1.97",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "db3be13411f48d23",
        "type": "ui-page",
        "name": "CanV totale",
        "ui": "c27e22cb5f0d0b82",
        "path": "/lectureTotaleCanVéhicule",
        "icon": "play-box-multiple-outline",
        "layout": "grid",
        "theme": "2ed396c127455324",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "40d62d1830197f32",
        "type": "ui-page",
        "name": "CanV par SA ",
        "ui": "c27e22cb5f0d0b82",
        "path": "/lectureParAdresseSourceCanVehicule",
        "icon": "play-box-multiple-outline",
        "layout": "grid",
        "theme": "2ed396c127455324",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "9ca5ef0452a95c7c",
        "type": "ui-page",
        "name": "CanV par PGN",
        "ui": "c27e22cb5f0d0b82",
        "path": "/lectureParPGNCanVéhicule",
        "icon": "play-box-multiple-outline",
        "layout": "grid",
        "theme": "2ed396c127455324",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 4,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "c5ae60ca9214ceb4",
        "type": "ui-page",
        "name": "CanE totale ",
        "ui": "c27e22cb5f0d0b82",
        "path": "/lectureTotaleCanEquipement",
        "icon": "play-box-multiple-outline",
        "layout": "grid",
        "theme": "2ed396c127455324",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 5,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "335c1b86039fbe0f",
        "type": "ui-page",
        "name": "CanE par PGN ",
        "ui": "c27e22cb5f0d0b82",
        "path": "/lectureParPGNCanEquipement",
        "icon": "play-box-multiple-outline",
        "layout": "grid",
        "theme": "2ed396c127455324",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 6,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "4e4221a6f2114c50",
        "type": "ui-group",
        "name": "Modèle 6R 000 et 6M 000",
        "page": "e2a44dbc7c93f4f0",
        "width": "10",
        "height": "7",
        "order": 1,
        "showTitle": true,
        "className": "bg-soft",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "f9d9121251763429",
        "type": "ui-group",
        "name": "Signature",
        "page": "e2a44dbc7c93f4f0",
        "width": "3",
        "height": 1,
        "order": 3,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "75cfc1e223f344da",
        "type": "ui-group",
        "name": "Etat de connexion réseau Wifi",
        "page": "e2a44dbc7c93f4f0",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "c2a9d1ca898656f3",
        "type": "ui-group",
        "name": "Vitesse du réseau Can Véhicule",
        "page": "db3be13411f48d23",
        "width": "4",
        "height": "4",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "62432b890ad225f0",
        "type": "ui-group",
        "name": "Vitesse du réseau Can Véhicule",
        "page": "40d62d1830197f32",
        "width": "4",
        "height": "4",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "80bfa2bf1c05dc26",
        "type": "ui-group",
        "name": "Vitesse du réseau Can Véhicule",
        "page": "9ca5ef0452a95c7c",
        "width": "4",
        "height": "4",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "581dad8089067e2a",
        "type": "ui-group",
        "name": "Vitesse du réseau CanE totale ",
        "page": "c5ae60ca9214ceb4",
        "width": "4",
        "height": "4",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "63ec63299146a6ee",
        "type": "ui-group",
        "name": "Vitesse du réseau CanE par PGN",
        "page": "335c1b86039fbe0f",
        "width": "4",
        "height": "4",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "1ddeec433c5066f2",
        "type": "ui-group",
        "name": "Débit Can Véhicule",
        "page": "db3be13411f48d23",
        "width": "6",
        "height": "4",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "56365a67dd84c8ca",
        "type": "ui-group",
        "name": "Lecture Can véhicule totale",
        "page": "db3be13411f48d23",
        "width": "4",
        "height": "3",
        "order": 3,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "14bd28a10bf63b7e",
        "type": "ui-spacer",
        "group": "c2a9d1ca898656f3",
        "name": "spacer",
        "tooltip": "",
        "order": 3,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "e0e847b004c327c2",
        "type": "ui-group",
        "name": "Débit Can Véhicule par adresse source",
        "page": "40d62d1830197f32",
        "width": 6,
        "height": "4",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "f96dafe3ce8fb693",
        "type": "ui-group",
        "name": "Débit Can Equipement totale",
        "page": "c5ae60ca9214ceb4",
        "width": 6,
        "height": "4",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a69ed443ff263a19",
        "type": "ui-group",
        "name": "Lecture CanV par as",
        "page": "40d62d1830197f32",
        "width": "5",
        "height": "5",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "2171839989ce62b6",
        "type": "ui-group",
        "name": "Débit CanV PGN",
        "page": "9ca5ef0452a95c7c",
        "width": 6,
        "height": "4",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "21764c296cc4724c",
        "type": "ui-group",
        "name": "Lecture Can Véhicule PGN",
        "page": "9ca5ef0452a95c7c",
        "width": "4",
        "height": "3",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ec18558daf1ef031",
        "type": "ui-spacer",
        "group": "63ec63299146a6ee",
        "name": "spacer",
        "tooltip": "",
        "order": 3,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "f7d7827ac09d0859",
        "type": "ui-group",
        "name": "Débit CanE PGN",
        "page": "335c1b86039fbe0f",
        "width": 6,
        "height": "4",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "68a669778c8cf39b",
        "type": "ui-group",
        "name": "Lecture Can Equipement PGN",
        "page": "335c1b86039fbe0f",
        "width": "4",
        "height": "3",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e8eb9c79520fe259",
        "type": "ui-group",
        "name": "Lecture CanE totale",
        "page": "c5ae60ca9214ceb4",
        "width": "4",
        "height": "3",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "05a124a507618ba1",
        "type": "ui-group",
        "name": "Lecture direct data PGN Véhicule",
        "page": "9ca5ef0452a95c7c",
        "width": 6,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "c518e7336ff08c22",
        "type": "ui-group",
        "name": "Lecture direct data PGN Equipement",
        "page": "335c1b86039fbe0f",
        "width": 6,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "1d21500cf997d58a",
        "type": "ui-group",
        "name": "Emplacement calculateur",
        "page": "40d62d1830197f32",
        "width": "5",
        "height": "2",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "05221710e2337da9",
        "type": "ui-template",
        "z": "fe3bdceb20630f52",
        "group": "4e4221a6f2114c50",
        "page": "",
        "ui": "",
        "name": "Images d'accueil",
        "order": 1,
        "width": "0",
        "height": "0",
        "head": "",
        "format": "<template>\n  <div class=\"logos\">\n    <!-- Gauche -->\n    <img :src=\"src6R\" alt=\"John Deere 6R\" :style=\"imgStyle('L')\" />\n\n    <!-- Centre : Ecran.png au-dessus de LogoJD.png -->\n    <div class=\"centerCol\" :style=\"centerStyle\">\n      <img :src=\"srcEcran\" alt=\"Écran\"\n           :style=\"{ height: hE + 'px', width: 'auto', marginBottom: vGapPx + 'px' }\" />\n      <img :src=\"srcJD\" alt=\"Logo John Deere\"\n           :style=\"{ height: hC + 'px', width: 'auto' }\" />\n    </div>\n\n    <!-- Droite -->\n    <img :src=\"src6M\" alt=\"John Deere 6M\" :style=\"imgStyle('R')\" />\n  </div>\n</template>\n\n<script>\n  export default {\n  data () {\n    const host = '//' + location.host + '/';\n    return {\n      // === TAILLES INDIVIDUELLES (px) ===\n      hL: 400,   // hauteur 6R (gauche)\n      hC: 80,    // hauteur Logo JD (centre, bas)\n      hR: 400,   // hauteur 6M (droite)\n      hE: 290,   // hauteur Ecran (centre, haut)\n\n      // Écart vertical entre Ecran et LogoJD (px)\n      vGapPx: 30,\n\n      // === CHEVAUCHEMENT HORIZONTAL (px) ===\n      // Positif = s'écartent, NÉGATIF = se rapprochent/chevauchent\n      overlapPx: 80,\n\n      // === Sources (host-safe) ===\n      src6R: host + 'JohnDeere6R.png',\n      srcJD: host + 'LogoJD.png',\n      src6M: host + 'JohnDeere6M.png',\n      srcEcran: host + 'Ecran.png'\n    };\n  },\n  computed: {\n    // Style appliqué au bloc central (colonne)\n    centerStyle () {\n      return {\n        marginLeft: this.overlapPx + 'px',\n        display: 'flex',\n        flexDirection: 'column',\n        alignItems: 'center'\n      };\n    }\n  },\n  methods: {\n    // Style des images de gauche/droite avec chevauchement\n    imgStyle (pos) {\n      const heightPx = (pos === 'L') ? this.hL : this.hR;\n      return {\n        height: heightPx + 'px',\n        width: 'auto',\n        marginLeft: (pos === 'L') ? '0px' : (this.overlapPx + 'px')\n      };\n    }\n  },\n  mounted () {\n    // Optionnel : émettre l'état initial\n    this.send({\n      payload: {\n        sizesPx: { left: this.hL, centerJD: this.hC, right: this.hR, ecran: this.hE },\n        centerGapPx: this.vGapPx,\n        overlapPx: this.overlapPx\n      }\n    });\n  },\n  watch: {\n    // Pilotage facultatif depuis le flow :\n    // msg.payload = { leftPx, centerJDPx, rightPx, ecranPx, vGapPx, overlapPx }\n    msg () {\n      const p = (this.msg && this.msg.payload) || {};\n      const toNum = v => (v === 0 || v === '0') ? 0 : (v ? Number(v) : undefined);\n\n      const L = toNum(p.leftPx);      if (L !== undefined) this.hL = L;\n      const CJ = toNum(p.centerJDPx); if (CJ !== undefined) this.hC = CJ;\n      const R = toNum(p.rightPx);     if (R !== undefined) this.hR = R;\n      const E = toNum(p.ecranPx);     if (E !== undefined) this.hE = E;\n      const G = toNum(p.vGapPx);      if (G !== undefined) this.vGapPx = G;\n      const O = toNum(p.overlapPx);   if (O !== undefined) this.overlapPx = O;\n\n      this.send({\n        payload: {\n          sizesPx: { left: this.hL, centerJD: this.hC, right: this.hR, ecran: this.hE },\n          centerGapPx: this.vGapPx,\n          overlapPx: this.overlapPx\n        }\n      });\n    }\n  }\n}\n</script>\n\n<style scoped>\n  .logos {\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    /* pas de space-between */\n    gap: 0;\n    /* aucun espace natif, on gère tout via marginLeft */\n  }\n\n  .logos img {\n    object-fit: contain;\n    transform-origin: center;\n  }\n\n  .centerCol {\n    /* les règles principales sont injectées via :style=\"centerStyle\" */\n  }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 190,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "6dc10b327fe68112",
        "type": "ui-text",
        "z": "fe3bdceb20630f52",
        "group": "f9d9121251763429",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Cosson Ludovic",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payloads",
        "valueType": "msg",
        "x": 1160,
        "y": 280,
        "wires": []
    },
    {
        "id": "f79cc532b5f99874",
        "type": "ui-template",
        "z": "fe3bdceb20630f52",
        "group": "",
        "page": "",
        "ui": "c27e22cb5f0d0b82",
        "name": "Style global du site",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<style>\n\n    /* Régalge des bordures transparence des groupes */ \n\n.nrdb-ui-group > .v-card {\nborder-width: 2px !important;\nborder-radius: 24px !important;\nbackground-color: rgba(126, 126, 126, 0.25) !important;\nmargin-left: 119px !important;\n}\n\n/* taille des titres de groupe */\n.v-card-title {\nfont-size: 32px !important;\ncolor: #c4c834 !important;\ntext-align: center !important;\n}\n\n/* centrage des groupes */\n.nrdb-layout--grid[data-v-deeffdde] {\t\n\tpadding-block: 41px !important;\n}\n\n.nrdb-layout--grid[data-v-deeffdde] {\n\tgap: 24px !important;\n}\n\n.v-toolbar-title {\n\tfont-size: 32px !important;\n\tcolor: #d1d723 !important;\n}\n\n.v-btn--icon .v-icon {\n\t--v-icon-size-multiplier: 2 !important;\n\tcolor: #ffd571 !important;\n}\n\n.v-app-bar.v-toolbar, .v-navigation-drawer {\n\tcolor: rgba(232, 238, 32, 0.9) !important;\n\tfont-size: 24px !important;\n\tbackground-color: #4a444400 !important;\n}\n\n.v-list-item--nav .v-list-item-title {\nfont-size: 18px !important;\nline-height: 3rem !important;\n}\n\n.nrdb-ui-text[data-v-0db0e89c] {\n\tfont-size: 26px !important;\n\tcolor: #fff !important;\n}\n\n.nrdb-ui-text-value[data-v-0db0e89c] {\n\tcolor: #83d6ff;\n\tpadding-left: 19px;\n\tfont-size: 33px;\n\tfont-family: system-ui;\n}\n\n.nrdb-table-cell-align {\n\tmargin-left: 44px;\n\tfont-size: 44px;\n}\n\n.v-table > .v-table__wrapper > table > tbody > tr > td, .v-table > .v-table__wrapper > table > thead > tr > td, .v-table > .v-table__wrapper > table > tfoot > tr > td {\t\n\tcolor: #f7f596;\n\tfont-size: 28px;\n}\n\n.nrdb-table.v-table {\n\tbackground: rgba(126, 126, 126, 0.4);\n\tborder-radius: 20px;\n}\n\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:ui",
        "className": "",
        "x": 490,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "4fc97d7cdd864bdc",
        "type": "ui-template",
        "z": "fe3bdceb20630f52",
        "group": "",
        "page": "e2a44dbc7c93f4f0",
        "ui": "",
        "name": "Background du site",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template></template>\n\n<script>\nexport default {\n  data() {\n    const host = '//' + location.host + '/';\n    return {\n      bgSrc: `${host}Background.jpg` // ⇦ adapte si ton image n'est pas sous /static/\n    }\n  },\n  mounted() {\n    // 1) Style global (fonds transparents + calque BG)\n    const css = `\n      html, body, #app { min-height: 100vh; }\n      /* neutraliser les fonds opaques courants */\n      html, body, #app { background: transparent !important; }\n      /* quelques wrappers dashboard 2 possibles */\n      [class*=\"wrapper\"], [class*=\"container\"], [class*=\"layout\"], [class*=\"page\"], main, #nr-dashboard, #nrdb-app {\n        background-color: transparent !important;\n        background-image: none !important;\n      }\n      /* calque de fond */\n      #global-bg-layer {\n        position: fixed;\n        inset: 0;\n        z-index: -1;             /* derrière tout */\n        background-size: cover;\n        background-position: center center;\n        background-repeat: no-repeat;\n        background-attachment: fixed; /* retire si tu ne veux pas l'effet \"fixe\" */\n      }\n    `;\n    let styleEl = document.getElementById('global-bg-style');\n    if (!styleEl) {\n      styleEl = document.createElement('style');\n      styleEl.id = 'global-bg-style';\n      styleEl.type = 'text/css';\n      styleEl.appendChild(document.createTextNode(css));\n      document.head.appendChild(styleEl);\n    }\n\n    // 2) Calque de fond unique\n    let bg = document.getElementById('global-bg-layer');\n    if (!bg) {\n      bg = document.createElement('div');\n      bg.id = 'global-bg-layer';\n      document.body.prepend(bg); // le mettre tout en haut du body\n    }\n\n    // 3) Vérifier que l'image existe avant d'appliquer\n    const testImg = new Image();\n    testImg.onload = () => {\n      bg.style.backgroundImage = `url(${this.bgSrc})`;\n      this.send({payload:{background:'applied', src:this.bgSrc}});\n    };\n    testImg.onerror = () => {\n      // si ton image n'est PAS dans /static/, essaye `${host}Background.jpg`\n      this.send({payload:{background:'error', tried:this.bgSrc}});\n    };\n    testImg.src = this.bgSrc;\n  }\n}\n</script>\n\n<style>\n/* rien ici, on injecte du CSS global via <style id=\"global-bg-style\"> */\n</style>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "",
        "x": 790,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "6fa1e1a2255761cb",
        "type": "ping",
        "z": "fe3bdceb20630f52",
        "protocol": "Automatic",
        "mode": "timed",
        "name": "",
        "host": "192.168.137.17",
        "timer": "1",
        "inputs": 0,
        "x": 180,
        "y": 160,
        "wires": [
            [
                "994260288508824d",
                "55eaa47e41dbb124",
                "ad310a36d63d669c"
            ]
        ]
    },
    {
        "id": "994260288508824d",
        "type": "function",
        "z": "fe3bdceb20630f52",
        "name": "Déclaration du texte de connexion",
        "func": "if (msg.payload > 0) {\n    msg.payload = \"wifi connecté\";\n    msg.status = \"OK\";\n} else {\n    msg.payload = \"wifi déconnecté\";\n    msg.status = \"KO\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 160,
        "wires": [
            [
                "e80aa0ab8f501ac7"
            ]
        ]
    },
    {
        "id": "e80aa0ab8f501ac7",
        "type": "ui-text",
        "z": "fe3bdceb20630f52",
        "group": "75cfc1e223f344da",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Etat de la connection wifi :",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 790,
        "y": 160,
        "wires": []
    },
    {
        "id": "55eaa47e41dbb124",
        "type": "debug",
        "z": "fe3bdceb20630f52",
        "name": "debug 2",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 180,
        "y": 220,
        "wires": []
    },
    {
        "id": "ad310a36d63d669c",
        "type": "function",
        "z": "fe3bdceb20630f52",
        "name": "Création d'une moyen de temps de réponse ms",
        "func": "// Moyenne glissante sur 3 s, en ENTIER uniquement\n\nlet buf = context.get('buf') || [];\nlet lastEmit = context.get('lastEmit') || 0;\n\nconst now = Date.now();\nconst PERIOD_MS = 5000;\n\n// 1) Récupère et force en entier\nlet val = Number(msg.payload);\nif (!isFinite(val)) {\n    node.status({fill:\"red\", shape:\"ring\", text:\"valeur non numérique\"});\n    return null;\n}\nval = Math.round(val); // mesure arrondie à l'entier\n\n// 2) Empile (timestamp + valeur entière)\nbuf.push({ t: now, v: val });\n\n// 3) Garde seulement les échantillons des 3 dernières secondes\nconst cutoff = now - PERIOD_MS;\nbuf = buf.filter(x => x.t >= cutoff);\ncontext.set('buf', buf);\n\n// 4) Émet au plus toutes les 3 s (moyenne entière)\nif (now - lastEmit >= PERIOD_MS) {\n    if (buf.length > 0) {\n        const sum = buf.reduce((a, b) => a + b.v, 0);\n        const avgInt = Math.round(sum / buf.length); // moyenne entière\n\n        context.set('lastEmit', now);\n        node.status({fill:\"green\", shape:\"dot\", text:`avg=${avgInt} (${buf.length} pts)`});\n\n        return {\n            payload: avgInt,        // <-- entier\n            count: buf.length,      // entier\n            period_ms: PERIOD_MS,   // entier\n            ts: now                 // timestamp ms\n        };\n    }\n}\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 240,
        "wires": [
            [
                "ab461a923bed923b",
                "280e29456a2ee779"
            ]
        ]
    },
    {
        "id": "ab461a923bed923b",
        "type": "debug",
        "z": "fe3bdceb20630f52",
        "name": "debug 4",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 680,
        "y": 300,
        "wires": []
    },
    {
        "id": "280e29456a2ee779",
        "type": "ui-chart",
        "z": "fe3bdceb20630f52",
        "group": "75cfc1e223f344da",
        "name": "",
        "label": "",
        "order": 2,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "temps ",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Ping Milliseconde",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "400",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "star",
        "pointRadius": "4",
        "showLegend": true,
        "removeOlder": "15",
        "removeOlderUnit": "60",
        "removeOlderPoints": "",
        "colors": [
            "#d7fc65",
            "#6772fa",
            "#6772fa",
            "#6772fa",
            "#6772fa",
            "#7983fb",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#e9fd5e"
        ],
        "textColorDefault": false,
        "gridColor": [
            "#5c5454"
        ],
        "gridColorDefault": false,
        "width": 6,
        "height": "4",
        "className": "",
        "interpolation": "smooth",
        "x": 880,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "898de0880cb3701e",
        "type": "link in",
        "z": "d4f3bcb1d0e64d1c",
        "name": "link in 1",
        "links": [
            "1fab1a045e893ed7"
        ],
        "x": 405,
        "y": 100,
        "wires": [
            [
                "0c979d4d62944d7a"
            ]
        ]
    },
    {
        "id": "1fab1a045e893ed7",
        "type": "link out",
        "z": "d4f3bcb1d0e64d1c",
        "name": "Lien de la vitesse baud rate",
        "mode": "link",
        "links": [
            "7cde0154963534c1",
            "898de0880cb3701e",
            "d4241de4b7e294e9",
            "9dc060dbdb7cc986",
            "68a5fce40981cbfb"
        ],
        "x": 315,
        "y": 100,
        "wires": []
    },
    {
        "id": "8d372220ae93799a",
        "type": "link in",
        "z": "d4f3bcb1d0e64d1c",
        "name": "link in 2",
        "links": [
            "21ebe939972262bd"
        ],
        "x": 405,
        "y": 200,
        "wires": [
            [
                "2524207e877914ad"
            ]
        ]
    },
    {
        "id": "da08ade5fcb9b473",
        "type": "mqtt in",
        "z": "d4f3bcb1d0e64d1c",
        "name": "",
        "topic": "Vitesse/baud/rate",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "af614d386833c470",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 100,
        "wires": [
            [
                "1fab1a045e893ed7",
                "088beefb6edf907a"
            ]
        ]
    },
    {
        "id": "14f355852d967737",
        "type": "mqtt in",
        "z": "d4f3bcb1d0e64d1c",
        "name": "",
        "topic": "Vitesse/serial",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "af614d386833c470",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "21ebe939972262bd",
                "332e322389a492a6"
            ]
        ]
    },
    {
        "id": "21ebe939972262bd",
        "type": "link out",
        "z": "d4f3bcb1d0e64d1c",
        "name": "Lien de la vitesse serial",
        "mode": "link",
        "links": [
            "8d372220ae93799a",
            "c9a30287bdb3ea5f",
            "63a264809a49c16e",
            "e980c7dd1d676e60",
            "ab456ed5ea3bdf64"
        ],
        "x": 315,
        "y": 200,
        "wires": []
    },
    {
        "id": "0c979d4d62944d7a",
        "type": "ui-text",
        "z": "d4f3bcb1d0e64d1c",
        "group": "c2a9d1ca898656f3",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Vitesse Baud rate CanV totale",
        "label": "Vitesse Baud rate Can Véhicule :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "",
        "valueType": "msg",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "2524207e877914ad",
        "type": "ui-text",
        "z": "d4f3bcb1d0e64d1c",
        "group": "c2a9d1ca898656f3",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Vitesse Serial CanV totale",
        "label": "Vitesse du bus série Can Véhicule :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "",
        "valueType": "msg",
        "x": 550,
        "y": 200,
        "wires": []
    },
    {
        "id": "332e322389a492a6",
        "type": "debug",
        "z": "d4f3bcb1d0e64d1c",
        "name": "debug 1",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 240,
        "y": 260,
        "wires": []
    },
    {
        "id": "088beefb6edf907a",
        "type": "debug",
        "z": "d4f3bcb1d0e64d1c",
        "name": "debug 3",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 240,
        "y": 40,
        "wires": []
    },
    {
        "id": "6d9476db8e7d7b4f",
        "type": "ui-chart",
        "z": "d4f3bcb1d0e64d1c",
        "group": "1ddeec433c5066f2",
        "name": "",
        "label": "",
        "order": 1,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "temps ",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Ping Milliseconde",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "400",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "star",
        "pointRadius": "4",
        "showLegend": true,
        "removeOlder": "15",
        "removeOlderUnit": "60",
        "removeOlderPoints": "",
        "colors": [
            "#d7fc65",
            "#6772fa",
            "#6772fa",
            "#6772fa",
            "#6772fa",
            "#7983fb",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#e9fd5e"
        ],
        "textColorDefault": false,
        "gridColor": [
            "#5c5454"
        ],
        "gridColorDefault": false,
        "width": 6,
        "height": "4",
        "className": "",
        "interpolation": "smooth",
        "x": 1220,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "0758e4225b36b269",
        "type": "mqtt in",
        "z": "d4f3bcb1d0e64d1c",
        "name": "",
        "topic": "Debit/CanVehicule/totale",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "af614d386833c470",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 970,
        "y": 140,
        "wires": [
            [
                "6d9476db8e7d7b4f",
                "89f6e3cd6efe09f1"
            ]
        ]
    },
    {
        "id": "56a32ea4ff717207",
        "type": "mqtt in",
        "z": "d4f3bcb1d0e64d1c",
        "name": "",
        "topic": "Lecture/compteur/trame/vehicule/totale",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "af614d386833c470",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 420,
        "wires": [
            [
                "dc8d025a89279af2",
                "34924664ef982606"
            ]
        ]
    },
    {
        "id": "c9c461dcf57ad75a",
        "type": "mqtt in",
        "z": "d4f3bcb1d0e64d1c",
        "name": "",
        "topic": "Lecture/PGN/vehicule/totale",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "af614d386833c470",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 480,
        "wires": [
            [
                "dc8d025a89279af2",
                "9444fc3aed858693"
            ]
        ]
    },
    {
        "id": "dc8d025a89279af2",
        "type": "ui-table",
        "z": "d4f3bcb1d0e64d1c",
        "group": "56365a67dd84c8ca",
        "name": "",
        "label": "",
        "order": 1,
        "width": "4",
        "height": "6",
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": false,
        "deselect": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "append",
        "className": "",
        "x": 510,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "b1917ae350e21ffb",
        "type": "comment",
        "z": "d4f3bcb1d0e64d1c",
        "name": "Variable lecture Can véhicule totale",
        "info": "vehRateVal = débit par seconde\nvehCntVal  = compteur de trame\nvehLastVal = PGN",
        "x": 760,
        "y": 440,
        "wires": []
    },
    {
        "id": "34924664ef982606",
        "type": "debug",
        "z": "d4f3bcb1d0e64d1c",
        "name": "debug 5",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 460,
        "y": 540,
        "wires": []
    },
    {
        "id": "9444fc3aed858693",
        "type": "debug",
        "z": "d4f3bcb1d0e64d1c",
        "name": "debug 6",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 300,
        "y": 540,
        "wires": []
    },
    {
        "id": "89f6e3cd6efe09f1",
        "type": "debug",
        "z": "d4f3bcb1d0e64d1c",
        "name": "debug 7",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1020,
        "y": 200,
        "wires": []
    },
    {
        "id": "f2baa0ce4e625567",
        "type": "ui-text",
        "z": "7c6a75cdf2b63e99",
        "group": "62432b890ad225f0",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Vitesse Baud rate CanV par SA",
        "label": "Vitesse Baud rate Can Véhicule :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "",
        "valueType": "msg",
        "x": 450,
        "y": 80,
        "wires": []
    },
    {
        "id": "e4ebf3d9558e6202",
        "type": "ui-text",
        "z": "7c6a75cdf2b63e99",
        "group": "62432b890ad225f0",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Vitesse Serial CanV par SA",
        "label": "Vitesse du bus série Can Véhicule :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "",
        "valueType": "msg",
        "x": 440,
        "y": 180,
        "wires": []
    },
    {
        "id": "7cde0154963534c1",
        "type": "link in",
        "z": "7c6a75cdf2b63e99",
        "name": "link in 3",
        "links": [
            "1fab1a045e893ed7"
        ],
        "x": 275,
        "y": 80,
        "wires": [
            [
                "f2baa0ce4e625567"
            ]
        ]
    },
    {
        "id": "c9a30287bdb3ea5f",
        "type": "link in",
        "z": "7c6a75cdf2b63e99",
        "name": "link in 4",
        "links": [
            "21ebe939972262bd"
        ],
        "x": 275,
        "y": 180,
        "wires": [
            [
                "e4ebf3d9558e6202"
            ]
        ]
    },
    {
        "id": "d52f4e0ecfe717b6",
        "type": "comment",
        "z": "7c6a75cdf2b63e99",
        "name": "Variable de lecture des trames",
        "info": "asCntVal  = compteur de trame\nasRateVal = débit de trame en seconde\nasLastVal = PGN de trame",
        "x": 740,
        "y": 360,
        "wires": []
    },
    {
        "id": "e17cde81a0a16381",
        "type": "mqtt in",
        "z": "7c6a75cdf2b63e99",
        "name": "",
        "topic": "Lecture/compteur/trame/vehicule/as",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "af614d386833c470",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 300,
        "wires": [
            [
                "ab80023c0aeaa394"
            ]
        ]
    },
    {
        "id": "966c1a86b7121406",
        "type": "mqtt in",
        "z": "7c6a75cdf2b63e99",
        "name": "",
        "topic": "Lecture/PGN/vehicule/as",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "af614d386833c470",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 400,
        "wires": [
            [
                "ab80023c0aeaa394"
            ]
        ]
    },
    {
        "id": "ab80023c0aeaa394",
        "type": "ui-table",
        "z": "7c6a75cdf2b63e99",
        "group": "a69ed443ff263a19",
        "name": "",
        "label": "",
        "order": 1,
        "width": "4",
        "height": "6",
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": false,
        "deselect": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "append",
        "className": "",
        "x": 510,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "e63f07a6671cf074",
        "type": "ui-chart",
        "z": "7c6a75cdf2b63e99",
        "group": "e0e847b004c327c2",
        "name": "",
        "label": "",
        "order": 1,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "temps ",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Ping Milliseconde",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "600",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "star",
        "pointRadius": "4",
        "showLegend": true,
        "removeOlder": "15",
        "removeOlderUnit": "60",
        "removeOlderPoints": "",
        "colors": [
            "#d7fc65",
            "#6772fa",
            "#6772fa",
            "#6772fa",
            "#6772fa",
            "#7983fb",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#e9fd5e"
        ],
        "textColorDefault": false,
        "gridColor": [
            "#5c5454"
        ],
        "gridColorDefault": false,
        "width": 6,
        "height": "4",
        "className": "",
        "interpolation": "smooth",
        "x": 1120,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "d4daa5e8a9cd4959",
        "type": "mqtt in",
        "z": "7c6a75cdf2b63e99",
        "name": "",
        "topic": "Debit/CanVehicule/as",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "af614d386833c470",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 860,
        "y": 160,
        "wires": [
            [
                "e63f07a6671cf074"
            ]
        ]
    },
    {
        "id": "8b3916d09f347a6c",
        "type": "mqtt in",
        "z": "7c6a75cdf2b63e99",
        "name": "",
        "topic": "Identification/controleur/source",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "af614d386833c470",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 500,
        "wires": [
            [
                "9249420ea31523e6",
                "319ae383f72d7fd9"
            ]
        ]
    },
    {
        "id": "9249420ea31523e6",
        "type": "function",
        "z": "7c6a75cdf2b63e99",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 500,
        "wires": [
            [
                "1375dbfbb5980917"
            ]
        ]
    },
    {
        "id": "1375dbfbb5980917",
        "type": "ui-template",
        "z": "7c6a75cdf2b63e99",
        "group": "1d21500cf997d58a",
        "page": "",
        "ui": "",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div class=\"page-image-wrap\">\n    <!-- Rien ne s'affiche tant qu'il n'y a pas eu de message -->\n    <img\n      v-if=\"hasMsg && imgSrc\"\n      :src=\"imgSrc\"\n      :alt=\"denom || 'Image calculateur'\"\n      class=\"img\"\n      @error=\"onError\"\n      @load=\"onLoad\"\n    />\n  </div>\n</template>\n\n<script>\nexport default {\n  data () {\n    return {\n      hasMsg: false,   // passe à true lors du premier message MQTT\n      denom: '',\n      imgSrc: '',\n      error: false,\n      // Ton dossier statique est la RACINE web (httpStatic)\n      basePath: `//${location.host}`,\n      fallback: `//${location.host}/default.png`\n    }\n  },\n  methods: {\n    setFromPayload (payload) {\n      this.hasMsg = true\n      const raw = (payload != null) ? String(payload) : ''\n      const name = raw.trim()\n      this.denom = name\n\n      // Si payload vide → ne rien afficher\n      if (!name) {\n        this.imgSrc = ''\n        return\n      }\n\n      const file = name + '.png'\n      const encoded = encodeURIComponent(file)\n      const url = `${this.basePath}/${encoded}`\n\n      this.error = false\n      this.imgSrc = url\n\n      // réémet vers le flow si besoin\n      this.$nextTick(() => {\n        this.send({ payload: { denomination: name, img: url } })\n      })\n    },\n    onError () {\n      // Après réception d'un message, on bascule sur le fallback en cas d'erreur\n      if (this.imgSrc && this.imgSrc !== this.fallback) {\n        this.error = true\n        this.imgSrc = this.fallback\n      }\n    },\n    onLoad () {\n      this.error = false\n    }\n  },\n  // Dashboard 2 (Vue) : on observe msg\n  watch: {\n    msg (newMsg) {\n      if (!newMsg) return\n      const payload = (newMsg && typeof newMsg.payload === 'object' && newMsg.payload?.denomination)\n        ? newMsg.payload.denomination\n        : newMsg.payload\n      this.setFromPayload(payload)\n    }\n  }\n}\n</script>\n\n<style>\n.page-image-wrap { display:flex; justify-content:center; padding:12px; }\n.img { max-width: min(90vw, 720px); width: 100%; height: auto; border-radius: 12px; display: block; }\n</style>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 720,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "319ae383f72d7fd9",
        "type": "debug",
        "z": "7c6a75cdf2b63e99",
        "name": "debug 8",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 200,
        "y": 580,
        "wires": []
    },
    {
        "id": "f55e63042c52e6d8",
        "type": "ui-text",
        "z": "6c5be482be44e101",
        "group": "80bfa2bf1c05dc26",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Vitesse Baud rate CanV par PGN",
        "label": "Vitesse Baud rate Can Véhicule :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "",
        "valueType": "msg",
        "x": 440,
        "y": 120,
        "wires": []
    },
    {
        "id": "8d63d6a07be91268",
        "type": "ui-text",
        "z": "6c5be482be44e101",
        "group": "80bfa2bf1c05dc26",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Vitesse Serial CanV par PGN",
        "label": "Vitesse du bus série Can Véhicule :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "",
        "valueType": "msg",
        "x": 420,
        "y": 180,
        "wires": []
    },
    {
        "id": "d4241de4b7e294e9",
        "type": "link in",
        "z": "6c5be482be44e101",
        "name": "link in 5",
        "links": [
            "1fab1a045e893ed7"
        ],
        "x": 185,
        "y": 120,
        "wires": [
            [
                "f55e63042c52e6d8"
            ]
        ]
    },
    {
        "id": "63a264809a49c16e",
        "type": "link in",
        "z": "6c5be482be44e101",
        "name": "link in 6",
        "links": [
            "21ebe939972262bd"
        ],
        "x": 185,
        "y": 180,
        "wires": [
            [
                "8d63d6a07be91268"
            ]
        ]
    },
    {
        "id": "ef408eb95dc2dd46",
        "type": "mqtt in",
        "z": "6c5be482be44e101",
        "name": "",
        "topic": "Lecture/compteur/trame/vehicule/PGN",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "af614d386833c470",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 320,
        "wires": [
            [
                "a7fb5b3b107a7f7f"
            ]
        ]
    },
    {
        "id": "9b33b8d9aee24753",
        "type": "mqtt in",
        "z": "6c5be482be44e101",
        "name": "",
        "topic": "Lecture/PGN/vehicule/PGN",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "af614d386833c470",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 440,
        "wires": [
            [
                "a7fb5b3b107a7f7f"
            ]
        ]
    },
    {
        "id": "a7fb5b3b107a7f7f",
        "type": "ui-table",
        "z": "6c5be482be44e101",
        "group": "21764c296cc4724c",
        "name": "",
        "label": "",
        "order": 1,
        "width": "0",
        "height": "0",
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": false,
        "deselect": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "append",
        "className": "",
        "x": 490,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "417fd929bdc25d64",
        "type": "ui-chart",
        "z": "6c5be482be44e101",
        "group": "2171839989ce62b6",
        "name": "",
        "label": "",
        "order": 1,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "temps ",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Ping Milliseconde",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "600",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "star",
        "pointRadius": "4",
        "showLegend": true,
        "removeOlder": "15",
        "removeOlderUnit": "60",
        "removeOlderPoints": "",
        "colors": [
            "#d7fc65",
            "#6772fa",
            "#6772fa",
            "#6772fa",
            "#6772fa",
            "#7983fb",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#e9fd5e"
        ],
        "textColorDefault": false,
        "gridColor": [
            "#5c5454"
        ],
        "gridColorDefault": false,
        "width": 6,
        "height": "4",
        "className": "",
        "interpolation": "smooth",
        "x": 1100,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "74d5003b403a1906",
        "type": "mqtt in",
        "z": "6c5be482be44e101",
        "name": "",
        "topic": "Debit/CanVehicule/PGN",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "af614d386833c470",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 840,
        "y": 140,
        "wires": [
            [
                "417fd929bdc25d64"
            ]
        ]
    },
    {
        "id": "3043d6c49f0cd34a",
        "type": "mqtt in",
        "z": "6c5be482be44e101",
        "name": "",
        "topic": "Lecture/data/PGN/vehicule",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "af614d386833c470",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 810,
        "y": 340,
        "wires": [
            [
                "73390a11faac2902"
            ]
        ]
    },
    {
        "id": "73390a11faac2902",
        "type": "ui-table",
        "z": "6c5be482be44e101",
        "group": "05a124a507618ba1",
        "name": "",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": false,
        "deselect": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "append",
        "className": "",
        "x": 1030,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "41831485e5108a98",
        "type": "ui-text",
        "z": "17a8185f6ac76f70",
        "group": "581dad8089067e2a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Vitesse Baud rate CanE totale",
        "label": "Vitesse Baud rate Can Equipement :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "",
        "valueType": "msg",
        "x": 270,
        "y": 120,
        "wires": []
    },
    {
        "id": "624bd98e99a15b52",
        "type": "ui-text",
        "z": "17a8185f6ac76f70",
        "group": "581dad8089067e2a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Vitesse Serial CanE totale",
        "label": "Vitesse du bus série Can Equipement :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "",
        "valueType": "msg",
        "x": 250,
        "y": 180,
        "wires": []
    },
    {
        "id": "9dc060dbdb7cc986",
        "type": "link in",
        "z": "17a8185f6ac76f70",
        "name": "link in 7",
        "links": [
            "1fab1a045e893ed7"
        ],
        "x": 95,
        "y": 120,
        "wires": [
            [
                "41831485e5108a98"
            ]
        ]
    },
    {
        "id": "e980c7dd1d676e60",
        "type": "link in",
        "z": "17a8185f6ac76f70",
        "name": "link in 8",
        "links": [
            "21ebe939972262bd"
        ],
        "x": 95,
        "y": 180,
        "wires": [
            [
                "624bd98e99a15b52"
            ]
        ]
    },
    {
        "id": "91937d06f96edbeb",
        "type": "comment",
        "z": "17a8185f6ac76f70",
        "name": "Variable lecture Can Equipement totale",
        "info": "eqCntVal  = compteur de trame\neqRateVal = débit de trame par seconde\neqLastVal = PGN des trames",
        "x": 790,
        "y": 360,
        "wires": []
    },
    {
        "id": "8a220ae0afbce44f",
        "type": "mqtt in",
        "z": "17a8185f6ac76f70",
        "name": "",
        "topic": "Lecture/compteur/trame/equipement/totale",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "af614d386833c470",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 300,
        "wires": [
            [
                "73634975a1fe6980"
            ]
        ]
    },
    {
        "id": "64c0b4e4dfb0ead8",
        "type": "mqtt in",
        "z": "17a8185f6ac76f70",
        "name": "",
        "topic": "Lecture/PGN/equipement/totale",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "af614d386833c470",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 400,
        "wires": [
            [
                "73634975a1fe6980"
            ]
        ]
    },
    {
        "id": "73634975a1fe6980",
        "type": "ui-table",
        "z": "17a8185f6ac76f70",
        "group": "e8eb9c79520fe259",
        "name": "",
        "label": "",
        "order": 1,
        "width": "4",
        "height": "6",
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": false,
        "deselect": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "append",
        "className": "",
        "x": 510,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "0273940502fe48e5",
        "type": "ui-chart",
        "z": "17a8185f6ac76f70",
        "group": "f96dafe3ce8fb693",
        "name": "",
        "label": "",
        "order": 1,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "temps ",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Ping Milliseconde",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "600",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "star",
        "pointRadius": "4",
        "showLegend": true,
        "removeOlder": "15",
        "removeOlderUnit": "60",
        "removeOlderPoints": "",
        "colors": [
            "#d7fc65",
            "#6772fa",
            "#6772fa",
            "#6772fa",
            "#6772fa",
            "#7983fb",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#e9fd5e"
        ],
        "textColorDefault": false,
        "gridColor": [
            "#5c5454"
        ],
        "gridColorDefault": false,
        "width": 6,
        "height": "4",
        "className": "",
        "interpolation": "smooth",
        "x": 1200,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "16834da9f2b0b9a1",
        "type": "mqtt in",
        "z": "17a8185f6ac76f70",
        "name": "",
        "topic": "Debit/CanEquipement/totale",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "af614d386833c470",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 940,
        "y": 160,
        "wires": [
            [
                "0273940502fe48e5"
            ]
        ]
    },
    {
        "id": "a220be71cb6b47b9",
        "type": "ui-text",
        "z": "f429bb5c8d48201c",
        "group": "63ec63299146a6ee",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Vitesse Baud rate CanE par PGN",
        "label": "Vitesse Baud rate Can Equipement :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "",
        "valueType": "msg",
        "x": 500,
        "y": 140,
        "wires": []
    },
    {
        "id": "d0cd576db29fa098",
        "type": "ui-text",
        "z": "f429bb5c8d48201c",
        "group": "63ec63299146a6ee",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Vitesse Serial CanE par PGN",
        "label": "Vitesse du bus série Can Véhicule :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "",
        "valueType": "msg",
        "x": 480,
        "y": 200,
        "wires": []
    },
    {
        "id": "68a5fce40981cbfb",
        "type": "link in",
        "z": "f429bb5c8d48201c",
        "name": "link in 9",
        "links": [
            "1fab1a045e893ed7"
        ],
        "x": 285,
        "y": 140,
        "wires": [
            [
                "a220be71cb6b47b9"
            ]
        ]
    },
    {
        "id": "ab456ed5ea3bdf64",
        "type": "link in",
        "z": "f429bb5c8d48201c",
        "name": "link in 10",
        "links": [
            "21ebe939972262bd"
        ],
        "x": 285,
        "y": 200,
        "wires": [
            [
                "d0cd576db29fa098"
            ]
        ]
    },
    {
        "id": "f9293831c32f02e3",
        "type": "mqtt in",
        "z": "f429bb5c8d48201c",
        "name": "",
        "topic": "Lecture/compteur/trame/equipement/PGN",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "af614d386833c470",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 360,
        "wires": [
            [
                "a304555909a2da91"
            ]
        ]
    },
    {
        "id": "686fe3bb7645a9f7",
        "type": "mqtt in",
        "z": "f429bb5c8d48201c",
        "name": "",
        "topic": "Lecture/PGN/equipement/PGN",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "af614d386833c470",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 460,
        "wires": [
            [
                "a304555909a2da91"
            ]
        ]
    },
    {
        "id": "a304555909a2da91",
        "type": "ui-table",
        "z": "f429bb5c8d48201c",
        "group": "68a669778c8cf39b",
        "name": "",
        "label": "",
        "order": 1,
        "width": "4",
        "height": "6",
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": false,
        "deselect": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "append",
        "className": "",
        "x": 550,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "28b63c7b9be32a71",
        "type": "ui-chart",
        "z": "f429bb5c8d48201c",
        "group": "f7d7827ac09d0859",
        "name": "",
        "label": "",
        "order": 1,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "temps ",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Ping Milliseconde",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "600",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "star",
        "pointRadius": "4",
        "showLegend": true,
        "removeOlder": "15",
        "removeOlderUnit": "60",
        "removeOlderPoints": "",
        "colors": [
            "#d7fc65",
            "#6772fa",
            "#6772fa",
            "#6772fa",
            "#6772fa",
            "#7983fb",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#e9fd5e"
        ],
        "textColorDefault": false,
        "gridColor": [
            "#5c5454"
        ],
        "gridColorDefault": false,
        "width": 6,
        "height": "4",
        "className": "",
        "interpolation": "smooth",
        "x": 1140,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "a4622adc4bd34723",
        "type": "mqtt in",
        "z": "f429bb5c8d48201c",
        "name": "",
        "topic": "Debit/CanEquipement/PGN",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "af614d386833c470",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 900,
        "y": 140,
        "wires": [
            [
                "28b63c7b9be32a71"
            ]
        ]
    },
    {
        "id": "04b52614863a629c",
        "type": "mqtt in",
        "z": "f429bb5c8d48201c",
        "name": "",
        "topic": "Lecture/data/PGN/equipement",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "af614d386833c470",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 940,
        "y": 320,
        "wires": [
            [
                "0ab5ad76296b37b4"
            ]
        ]
    },
    {
        "id": "0ab5ad76296b37b4",
        "type": "ui-table",
        "z": "f429bb5c8d48201c",
        "group": "c518e7336ff08c22",
        "name": "",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": false,
        "deselect": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "append",
        "className": "",
        "x": 1150,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "4233c96ee0d311a8",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.27.1",
            "node-red-node-ping": "0.3.3"
        }
    }
]